@{
    ViewBag.Title = "Home Page";
}

    <body>
        <img src="~/Img/img-principal.png" alt="MundPC" class="img-principal">
        <div class="slider">
            <marquee><h1 class="titulo">Las mejores PC</h1></marquee>

            <ul>
                <li><img class="rounded" src="~/Img/laptop-slider.jpg" alt=""></li>
                <li><img src="~/Img/slider-2.png" alt=""></li>
                <li><img src="~/Img/slider-3.png" alt=""></li>
                <li><img src="~/Img/slider-4.png" alt=""></li>
            </ul>
        </div>

        <div class="img-muestra">
            <img class="rounded" src="~/Img/Xiaomi-Mi-Notebook.jpg" alt="">
            <img class="rounded" src="~/Img/hp-840.png" alt="">
            <img class="rounded" src="~/Img/slogan.png" alt="">
        </div>        
            <button type="button" class="btn btn-danger fixed-bottom m-2 " data-toggle="modal" data-target="#myModal">
                <span class="fas fa-robot mr-2"></span>¿Necesitas ayuda?
            </button>        
        <div class="modal" id="myModal">
            <div class="modal-body">
                <iframe src="https://powerva.microsoft.com/webchat/bots/209dbd31-74cb-488b-8f9f-e1b083b36bec" frameborder="0" style="width: 400px; height: 400px;" class="fixed-bottom ml-4"></iframe>
            </div>
        </div>

    </body>