
@{
    ViewBag.Title = "FinalizaCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="alert alert-success text-center mt-4">Gracias por la compra!!</h2>
                @Html.ActionLink("Finalizar", "MisCompras", "venta", null, new { @class = "btn btn-outline-success" })
            </div>
        </div>
    </div>

